[Unit]
Description=Node VMReg
After=network.target

[Service]
#ExecStart=/opt/node/todolist/start.sh
Environment=NODE_PATH=/usr/local/lib/nodejs/node-latest/lib/node_modules
ExecStart=npm start
WorkingDirectory=/opt/node/vmregister
StandardOutput=inherit
StandardError=inherit
Restart=always
User=cdelezenski

[Install]
WantedBy=multi-user.target
